* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 2%;
    color: navy;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

ul li {
    float: left;
    padding: 0 15px;
}